.container{
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #fbfdfd;
}

.box{
    background: #fff;
    max-width: 700px;
    width: 100%;
    padding: 20px 50px;
    display: flex;
   flex-direction: column;
   gap: 15px;
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
   border-radius: 20px;
   margin: 20px auto;
}
/* input{

} */
#activity,
#profileUpdate{
    border-top: 1px solid rgb(65, 61, 61);
    margin-top: 40px;
}

input{
    height: 30px;

}

#activity{
    margin: 20px auto ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button{
    border: none;
    color: #fff;
    border-radius: 8px;
    background: #0582f7;
    padding: 12px 20px;
}